@tailwind base;
@tailwind utilities;
@tailwind components;

.loader {
  animation: loadingAnimation 3s linear infinite;
}

@keyframes loadingAnimation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(400%);
  }
}
